/* Everywhere */
body {
    width: 95%;
    margin: auto;
}
/* Index */

/* attracties.php */

.GridImagesAttracties {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    text-align: center;
}

    .GridImagesAttracties img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        object-position: center;
    }

