/* Everywhere */
body {
    margin: 0;
    padding: 0;
}
/* Index */

/* attracties.php */

.GridImagesAttracties {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    text-align: center;
}

.GridImagesAttracties img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
}



    .titel-h2, .p-subtitel{
        text-align: center;
    }

    /* Adminpanel.php */

    table {
        width: 100%;
        border-collapse: collapse;
    }
    
    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    
    th {
        background-color: #f2f2f2;
    }

    .photo-toggle img {
        display: none;
    }

    /* Header */

    header{
        background-color: #ff9933;
    }

    header h1{
        margin: 0;
        padding: 10px;
        color: #0066ff;
        text-align: center;
    }

    nav{
        text-align: center;
        padding: 20px;
    }

    nav a{
        text-decoration: none;
        color: #0066ff;
        padding: 15px;
        border: 1px solid #0066ff;
    }



    /* Footer */

    footer{
        background-color: #ff9933;
        text-align: center;
        padding: 10px;
        margin-top: 150px;
    }

    /* Index */

    .index-container{
        text-align: center;
        width: 40%;
        margin: 0 auto;
    }

    /* Login en Register */

    .form-container{
        text-align: center;
        width: 40%;
        margin: 0 auto;
    }

    form label{
        display: block;
        font-weight: bold;
        margin: 7px 0;
        font-size: large;
    }

    .submit{
        margin-top: 25px;
        background-color: #ff9933;
        width: 150px;
        font-weight: bolder;
    }